* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Arial';
}

body{
   background-color: #f1f1f1;
}

.nav {
   background-color: rgba(216, 216, 214, 0.438);
   background-color: #FBFBFB;
   display: flex;
   align-items: center;
   font-size: 1.5rem;
   padding: 1rem;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
   user-select: none;

   img {
      width: 6rem;
   }
}

.content {
   display: flex;
   width: 100%;
   padding: 1rem;
   height: 80vh;

   .side-1 {
      width: 55%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 2rem;
      height: 100%;

      .topic {
         display: flex;
         align-items: center;
         width: 90%;

         h1 {
            color: rgb(37, 37, 37);
            color:#026fdd;
            font-size: 4rem;
            font-weight: bold;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            letter-spacing: 4px;
            line-height: 4rem;
         }
      }

      .links {
         padding: .5rem;
         margin: 1rem;
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         justify-content: center;

         a {
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 200;
            color: rgb(39, 39, 39);
            background-color: white;
            padding: .4rem;
            margin: .3rem .5rem;
            border-radius: .5rem;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            -ms-border-radius: .5rem;
            -o-border-radius: .5rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

         a:hover {
            background-color: #4c8fd1ea;
            color: white;
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
         }
      }
   }

   .side-2 {
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      user-select: none;

      img {
         width: 50%;
         border-radius: .5rem;
         -webkit-border-radius: .5rem;
         -moz-border-radius: .5rem;
         -ms-border-radius: .5rem;
         -o-border-radius: .5rem;
         box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
         background-color: white;
      }
   }
}