* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto';
}

.navbar {
   font-size: 1.3rem;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   padding: .5rem 0;
   background-color: rgba(0, 0, 0, 0.795);
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.pg-logo {
   background-color: #ffffff;
}

.pg-logo img {
   width: 8rem;
   height: 6rem;
}

.nav-topic-links {
   width: 80%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
}

.nav-topic-links a {
   background-color: #2e2e2e;margin: 0 .4rem;
   padding: .2rem .5rem;
   color: #fff;
   border: 1px solid black;
   transition: .4s;
   text-decoration: none;
   -webkit-transition: .41s;
   -moz-transition: .41s;
   -ms-transition: .41s;
   -o-transition: .41s;
   box-shadow: #56b7f777 0px 3px 7px;background-color: #ffffff13;
}

.nav-topic-links a:hover {
   color: #56b6f7;
   border: 1px solid #ffffff62;
   
}

.main-div {
   display: flex;
}

.questions {
   height: 100%;
   width: 30%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: .6rem;
}

.questions h2 {
   font-size: 2rem;
   text-align: center;
   width: 100%;
   background-color: #ffffff;
   margin-bottom: .6rem;
}

.questions a {
   text-decoration: none;
   padding: .4rem;
   margin: .5rem;
   border: 1px solid;
   border-radius: .5rem;
   color: black;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.questions a:hover {
   background-color: rgb(61, 61, 61);
   color: #56b6f7;
   animation: shake 0.7s ease-in-out;
   /*Reduceddurationforasubtlereffect*/font-weight: 400;
   -webkit-animation: shake 0.7s ease-in-out;
}

/* Subtle Shake Animation */
@keyframes shake {
   0% { transform: translate(0); }
   20% { transform: translate(-1px, 0); } /* Reduced translation */
   40% { transform: translate(1px, 0); }  /* Reduced translation */
   60% { transform: translate(-1px, 0); } /* Reduced translation */
   80% { transform: translate(1px, 0); }  /* Reduced translation */
   100% { transform: translate(0); }
}

.Program-screen {
   height: 100%;
   width: 60%;
   padding: 1rem;
   border: 1px solid;
}

.Program-screen .ques-each p {
   font-size: 1.8rem;
   padding: .4rem;
   border: 1px solid;
   margin: 0 0 .6rem 0;
   font-weight: bold;
}

.Program-screen pre {
   font-size: 1.3rem;
   background-color: #fff;
}

.output-screen {
   width: 20%;
   font-size: 2rem;
   text-align: center;
   padding: 1rem;
}

.output-screen p {
   font-weight: bold;
}

.ques-each {
   display: none;
   /* Hide all questions initially */
}

.ques-each.active {
   display: block;
   /* Show the active question */
}

.output-each {
   display: none;
   /* Hide all outputs initially */
}

.output-each.active {
   display: block;
   /* Show the active output */
}