* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Arial';
}

.navbar {
   /* background-color: rgba(216, 216, 214, 0.438); */
   background-color: rgb(49, 49, 49);
   padding: 1rem 2rem;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   font-size: 1.5rem;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;

   p {
      font-size: 2rem;
      font-weight: bold;
      color: aliceblue;

      a {
         text-decoration: none;
         color: aliceblue;
      }
   }

   .nav-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      a {
         text-decoration: none;
         font-size: 1.5rem;
         font-weight: bold;
         color: black;
         color: aliceblue;
         border: 1px solid;
         padding: .4rem;
         margin: .3rem .5rem;
         border-radius: .8rem;
         -webkit-border-radius: .8rem;
         -moz-border-radius: .8rem;
         -ms-border-radius: .8rem;
         -o-border-radius: .8rem;
         box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }

      a:hover{
         background-color: rgb(37, 37, 37);
         color: rgba(88, 192, 252, 0.911);
         transition: .3s;
         -webkit-transition: .3s;
         -moz-transition: .3s;
         -ms-transition: .3s;
         -o-transition: .3s;
}
   }
}

.page-content {
   display: flex;
   padding: 1.2rem;
   width: 100%;
   height: 81vh;

   .pannel {
      width: 30%;
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: rgb(34, 34, 34);
      overflow-y: scroll;

      .head {
         background-color: rgba(216, 216, 214, 0.945);
         display: flex;
         justify-content: space-between;
         padding: 1rem;
         align-items: center;
         box-shadow: rgba(0, 0, 0, 0.473) 0px 3px 6px, rgba(0, 0, 0, 0.664) rgba(0, 0, 0, 0.23) 0px 3px 6px;
         box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
         border-radius: .3rem;
         -webkit-border-radius: .3rem;
         -moz-border-radius: .3rem;
         -ms-border-radius: .3rem;
         -o-border-radius: .3rem;
         text-align: center;

         h2 {
            font-size: 2rem;
            align-items: center;
         }

         button {
            background-color: aliceblue;
            font-size: 2rem;
            padding: .2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            border: 1px solid;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
               rgba(0, 0, 0, 0.23) 0px 3px 6px;

            a {
               text-decoration: none;
               color: black;
            }
         }
      }

      .p-body {

         display: flex;
         flex-wrap: wrap;
         justify-content: center;

         button {
            font-size: 1.5rem;
            padding: .5rem;
            margin: .6rem 1rem;
            border: none;
            outline: none;
            border-radius: .9rem;
            -webkit-border-radius: .9rem;
            -moz-border-radius: .9rem;
            -ms-border-radius: .9rem;
            -o-border-radius: .9rem;
         }

         button:hover{
            background-color: rgb(37, 37, 37);
            color: rgba(88, 192, 252, 0.911);
            border: 1px solid;
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
}
      }
   }

   .display {
      width: 70%;
      padding: 1rem;
      overflow-y: scroll;
   }
}

#initial {
   font-size: 2rem;
   margin: .5rem 0;
}

#question {
   font-size: 1.5rem;
   font-weight: bold;
}

#code {
   font-size: 1.5rem;
}